version: '3.8'

services:
  postgres-jpc:
    image: postgres:16.4
    container_name: postgres-jpc
    environment:
      POSTGRES_DB: jpc
      POSTGRES_USER: jpc
      POSTGRES_PASSWORD: letmein
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U jpc -d jpc"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-net

  auth-db:
    image: postgres:16.4
    container_name: auth-db
    environment:
      POSTGRES_DB: auth-db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin_password
    ports:
      - "7432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d auth-db"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-net

  hmpps-auth:
    image: ghcr.io/ministryofjustice/hmpps-auth:latest
    container_name: hmpps-auth
    depends_on:
      - auth-db
    networks:
      - app-net
    ports:
      - "9090:9090"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9090/auth/health"]
    environment:
      - SERVER_PORT=9090
      - SPRING_PROFILES_ACTIVE=dev,local-postgres,auth-seed
      - SPRING_DATASOURCE_URL=jdbc:postgresql://auth-db:5432/auth-db

  tester:
    image: curlimages/curl:7.85.0
    container_name: tester
    depends_on:
      hmpps-auth:
        condition: service_healthy
    networks:
      - app-net
    command: sleep 1000

  tester-sql:
    image: postgres:16.4
    container_name: tester-sql
    depends_on:
      postgres-jpc:
        condition: service_healthy
    networks:
      - app-net
    command: sleep 1000

networks:
  app-net:
    driver: bridge

