# To access SQL At command line - $ docker exec -it jpc-database psql -U jpc
# You can access the database via the browser using adminer see - http://localhost:8080

version: '3.1'

services:

  db:
    image: postgres:latest
    container_name: jpc-database
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: jpc
      POSTGRES_USER: jpc
      POSTGRES_PASSWORD: letmein
    networks:
      - hmpps

  adminer:
    image: adminer
    depends_on:
      - db
    container_name: jpc-browser-sql-tool
    restart: always
    ports:
      - 8081:8080
    networks:
      - hmpps

  localstack:
    image: localstack/localstack:0.11.5
    container_name: localstack
    networks:
      - hmpps
    ports:
      - "4567-4597:4567-4597"
      - 8999:8080
    environment:
      - SERVICES=s3
      - DEBUG=${DEBUG- }
      - DATA_DIR=${DATA_DIR- }
      - DOCKER_HOST=unix:///var/run/docker.sock
      - DEFAULT_REGION=eu-west-2
    volumes:
      - "${TMPDIR:-/tmp/localstack}:/tmp/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - $PWD/localstack:/docker-entrypoint-initaws.d

networks:
  hmpps:
