<div class="ba mt3" th:fragment="journeySummary">
    <ul class="list pl0 flex mv0">
        <li class="w-40">
            <div class="pa3">
                <a th:href="@{/journeys}" class="govuk-heading-m govuk-link">Journeys for review</a>
            </div>
        </li>
        <li class="flex-auto bl">
            <div class="pa3">
                <p class="govuk-heading-m mb1" th:inline="text">
                    [[${#numbers.formatDecimal(journeysSummary.countUnpriced, 0, 'COMMA', 0, 'POINT')}]]</p>
                <div>
                    <p class="govuk-body mv0">Without prices</p>
                </div>
            </div>

        </li>
        <li class="flex-auto bl">
            <div class="pa3">
                <p class="govuk-heading-m mb1" th:inline="text">
                    [[${#numbers.formatDecimal(journeysSummary.countWithoutLocations, 0, 'COMMA', 0, 'POINT')}]]</p>
                <div>
                    <p class="govuk-body mv0">Without locations</p>
                </div>
            </div>
        </li>
        <li class="flex-auto bl">
            <div class="pa3">
                <p class="govuk-heading-m mb1" th:inline="text">
                    [[${#numbers.formatDecimal(journeysSummary.count, 0, 'COMMA', 0, 'POINT')}]]</p>
                <div>
                    <p class="govuk-body mv0">Total unique journeys</p>
                </div>
            </div>
        </li>
    </ul>
</div>