<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/base}">
<head>
  <title>Access Denied</title>
</head>
<body>
<div class="govuk-width-container" layout:fragment="content">
  <h1 class="govuk-heading-l">Access denied</h1>
  <p class="govuk-body">Please try again later. If this issue continues to occur please contact the Book a Secure Move team.</p>
  <a class="govuk-button" th:href="@{/}" id="continue">OK, continue</a>
</div>
</body>
</html>
