<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
    <title>Calculate Journey Variable Payments - GOV.UK</title>
</head>

<body>
<div class="govuk-width-container" layout:fragment="content">
  <h1 class="govuk-heading-l">Resource not found</h1>
  <p class="govuk-body">Please try again later. If this issue continues to occur please contact the Book a Secure Move team.</p>
  <a class="govuk-button" th:href="@{/}" id="continue">OK, continue</a>
</div>
</body>
</html>