<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
    <title>Calculate Journey Variable Payments - GOV.UK</title>
</head>

<body>

<div class="govuk-width-container" layout:fragment="content">

  <div th:insert="fragments/contractual-year.html :: contractualYear"></div>

    <form th:action="@{/add-price}" th:object="${form}" method="post">
        <div class="govuk-error-summary mv3" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
             data-module="govuk-error-summary" th:if="${#fields.hasErrors('price')}">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="#price">Enter a valid price in the correct
                            format</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="mv4">
            <h1 class="govuk-heading-xl mv2" th:inline="text">Add price</h1>
            <p class="govuk-heading-s govuk-body govuk-!-font-weight-regular">Please add the price agreed with the
                supplier for this journey.</p>
        </div>


        <input type="hidden" th:field="*{moveId}" class="dn"/>
        <input type="hidden" th:field="*{from}" class="dn"/>
        <input type="hidden" th:field="*{to}" class="dn"/>
        <div class="govuk-form-group" th:classappend="${#fields.hasErrors('price')} ? 'govuk-form-group--error'">
            <ol class="list pl0">
                <li class="mv1">
                    <p class="govuk-label govuk-body govuk-!-font-weight-bold">Journey</p>
                    <p th:inline="text" class="govuk-body">[[*{from}]] to [[*{to}]]</p>
                </li>
                <li class="mv1">
                    <label class="govuk-label govuk-body govuk-!-font-weight-bold"
                           for="price">
                        Add price
                    </label>
                    <div id="price-hint" class="govuk-hint">
                        Example £100.00
                    </div>
                    <p th:if="${#fields.hasErrors('price')}" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Enter a valid price in the correct
                        format
                    </p>
                    <div class="govuk-input__wrapper">
                        <div class="govuk-input__prefix" aria-hidden="true">£</div>
                        <input class="govuk-input govuk-input--width-5" id="price" name="price" type="text"
                               aria-describedby="price-hint" th:field="*{price}"
                               th:classappend="${#fields.hasErrors('price')} ? 'govuk-input--error'">
                    </div>
                </li>
            </ol>
        </div>
        <div class="govuk-warning-text mv3">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                <div th:each="warning: ${warnings}" >
                  <span th:inline="text" th:text="${warning.text}"></span>
                  <p></p>
                </div>
            </strong>
        </div>
        <div class="flex items-center">
            <button id="confirm-save-price" class="govuk-button mv3 mr3" data-module="govuk-button">
                Confirm and save
            </button>
            <a href="/journeys" class="govuk-link">Cancel</a>
        </div>
    </form>
</div>
</body>

</html>