<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
  <title>Calculate Journey Variable Payments - GOV.UK</title>
</head>

<body>

<div class="govuk-width-container" layout:fragment="content">
  <div class="mv4">
    <h1 class="govuk-heading-xl mv2" th:inline="text">
      Manage Journey Price Catalogue [[${contractualYearStart}]] to [[${contractualYearEnd}]]
    </h1>
  </div>
</div>

</body>

</html>