<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
  <title>Calculate Journey Variable Payments - GOV.UK</title>
</head>

<body>

<div class="govuk-width-container" layout:fragment="content">
  <div th:insert="fragments/contractual-year.html :: contractualYear"></div>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#annual-price-adjustment">
          Apply bulk price adjustment
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#price-adjustment-history">
          Price adjustment history
        </a>
      </li>
    </ul>
    <div class="govuk-tabs__panel" id="annual-price-adjustment">
      <form th:action="@{/annual-price-adjustment}" th:object="${form}" method="post">
        <div>
          <h2 class="govuk-heading-l" th:inline="text">Apply bulk price adjustment</h2>
          <p class="govuk-heading-s govuk-body govuk-!-font-weight-regular">
            Enter adjustment rates to calculate journey prices for the current contractual year.
          </p>
        </div>
        <div class="govuk-form-group" th:classappend="${#fields.hasAnyErrors()} ? 'govuk-form-group--error'">
          <ol class="list pl0">
            <li class="mv3">
              <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="inflationary-rate">Inflationary Rate</label>
              <div id="irate-hint" class="govuk-hint">Example - for a 0.67% increase you would enter 1.0067</div>
              <p th:if="${#fields.hasErrors('inflationaryRate')}" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>
                Enter a valid inflationary rate greater than zero in the correct format #.###############
              </p>
              <div class="govuk-input__wrapper">
                <input class="govuk-input govuk-input--width-10" id="inflationary-rate" name="inflationary-rate" type="text"
                       aria-describedby="rate-hint" th:field="*{inflationaryRate}"
                       th:classappend="${#fields.hasErrors('inflationaryRate')} ? 'govuk-input--error'">
              </div>
            </li>
            <li class="mv3">
              <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="volumetric-rate">Volumetric Rate</label>
              <div id="vrate-hint" class="govuk-hint">Example - for an 8.58% increase you would enter 1.0858 (or leave as 0.0 to bypass)</div>
              <p th:if="${#fields.hasErrors('volumetricRate')}" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>
                Enter a valid volumetric rate greater than zero in the correct format #.###############
              </p>
              <div class="govuk-input__wrapper">
                <input class="govuk-input govuk-input--width-10" id="volumetric-rate" name="volumetric-rate" type="text"
                       aria-describedby="rate-hint" th:field="*{volumetricRate}"
                       th:classappend="${#fields.hasErrors('volumetricRate')} ? 'govuk-input--error'">
              </div>
            </li>
            <li class="mv3">
              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="details">Give Details</label>
                </h1>
                <p th:if="${#fields.hasErrors('details')}" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span>
                  Please give details for the bulk price adjustment
                </p>
                <textarea class="govuk-textarea" id="details" name="more-detail" rows="5" aria-describedby="details-hint" th:field="*{details}"
                          maxlength="255" th:classappend="${#fields.hasErrors('details')} ? 'govuk-input--error'"></textarea>
              </div>
            </li>
          </ol>
        </div>
        <div class="govuk-warning-text mv3">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            <span th:inline="text">By applying this rate any existing journey prices in the current contractual year will be adjusted.</span>
          </strong>
        </div>
        <div class="flex items-center">
          <button id="confirm-price-adjustment" class="govuk-button mv3 mr3" data-module="govuk-button">
            Apply adjustment
          </button>
          <a href="/manage-journey-price-catalogue" class="govuk-link">Cancel</a>
        </div>
      </form>
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="price-adjustment-history">
      <h2 class="govuk-heading-l">Price adjustment history</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Time</th>
          <th scope="col" class="govuk-table__header">Action</th>
          <th scope="col" class="govuk-table__header">By</th>
          <th scope="col" class="govuk-table__header">Notes</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row" th:each="event: ${history}">
          <td class="govuk-table__cell" scope="row" th:inline="text">[[${#temporals.format(event.datetime, 'dd MMMM yyyy')}]]</td>
          <td class="govuk-table__cell" scope="row" th:inline="text">[[${#temporals.format(event.datetime, 'HH:mm a')}]]</td>
          <td class="govuk-table__cell" scope="row" th:inline="text">[[${event.action}]]</td>
          <td class="govuk-table__cell" scope="row" th:inline="text">[[${event.by}]]</td>
          <td class="govuk-table__cell" scope="row" th:inline="text">[[${event.details}]]</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</body>

</html>