<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
    <title>Calculate Journey Variable Payments - GOV.UK</title>
</head>

<body>

<div class="govuk-width-container" layout:fragment="content" th:inline="text">

    <div class="govuk-breadcrumbs ">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/dashboard" th:inline="text">[[${#temporals.monthName(startOfMonthDate)}]]
                    [[${#temporals.format(startOfMonthDate, 'yyyy')}]] move summary</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <span class="govuk-breadcrumbs__link">Journeys for review</span>
            </li>
        </ol>
    </div>

    <div th:replace="fragments/flash-messages.html :: flash-messages(dismissFallback='/journeys')"></div>

    <div class="mv4">
        <h1 class="govuk-heading-xl ma0">Journeys for review</h1>
    </div>

    <div class="bg-govuk-colour-blue ph3 mt3 flex">
        <ul class="list ph0 bg-govuk-colour-blue flex mv1 flex-wrap w-100">
            <li class="w-25 pv2 mv2">
                <p class="govuk-heading-l white ma0 pt1" th:inline="text">
                    [[${journeysSummary.supplier}]]</p>
                <div>
                    <p class="govuk-heading-s govuk-!-font-weight-bold white ma0">supplier</p>
                </div>
            </li>
            <li class="w-25 pv2 mv2">
                <p class="govuk-heading-l white ma0 pt1" th:inline="text">
                    [[${#numbers.formatDecimal(journeysSummary.count, 0, 'COMMA', 0, 'POINT')}]]</p>
                <div>
                    <p class="govuk-heading-s govuk-!-font-weight-bold white ma0">total unique journeys</p>
                </div>
            </li>
            <li class="w-25 pv2 mv2">
                <p class="govuk-heading-l white ma0 pt1" th:inline="text">
                    [[${#numbers.formatDecimal(journeysSummary.countWithoutLocations, 0, 'COMMA', 0, 'POINT')}]]</p>
                <div>
                    <p class="govuk-heading-s govuk-!-font-weight-bold white ma0">without locations</p>
                </div>
            </li>
            <li class="w-25 pv2 mv2">
                <p class="govuk-heading-l white ma0 pt1" th:inline="text">
                    [[${#numbers.formatDecimal(journeysSummary.countUnpriced, 0, 'COMMA', 0, 'POINT')}]]</p>
                <div>
                    <p class="govuk-heading-s govuk-!-font-weight-bold white ma0">without prices</p>
                </div>
            </li>
        </ul>
    </div>

    <section class="mt3">
        <table id="journeys" class="govuk-table" th:fragment="journey-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col" aria-sort="none">Pick up</th>
                    <th class="govuk-table__header" scope="col" aria-sort="none">Pick up location type</th>
                    <th class="govuk-table__header" scope="col" aria-sort="none">Drop off</th>
                    <th class="govuk-table__header" scope="col" aria-sort="none">Drop off location type</th>
                    <th class="govuk-table__header" scope="col" aria-sort="none">Total volume</th>
                    <th class="govuk-table__header" scope="col" aria-sort="none">Unit price</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row" th:each="journey: ${journeys}">
                    <td class="govuk-table__cell" scope="row" th:inline="text">[[${journey.fromSiteName ?:
                        journey.fromNomisAgencyId}]]
                    </td>
                    <td class="govuk-table__cell" scope="row">
                        <span th:if="${journey.fromSiteName == null}">
                            <a th:href="@{'/map-location/' + ${journey.fromNomisAgencyId}}" class="ma0 govuk-link">Map location</a>
                        </span>
                        <span th:unless="${journey.fromSiteName == null}"
                              th:inline="text">[[${journey.fromLocationType}]]</span>
                    </td>
                    <td class="govuk-table__cell" scope="row" th:inline="text">[[${journey.toSiteName ?:
                        journey.toNomisAgencyId}]]
                    </td>
                    <td class="govuk-table__cell" scope="row">
                        <span th:if="${journey.toSiteName == null}">
                            <a th:href="@{'/map-location/' + ${journey.toNomisAgencyId}}" class="ma0 govuk-link">Map location</a>
                        </span>
                        <span th:unless="${journey.toSiteName == null}"
                              th:inline="text">[[${journey.toLocationType}]]</span>
                    </td>
                    <td class="govuk-table__cell" scope="row" th:inline="text">[[${journey.volume}]]</td>
                    <td class="govuk-table__cell" scope="row" th:inline="text">
                        <span th:if="${journey.fromSiteName == null || journey.toSiteName == null}" th:inline="text">Awaiting location</span>
                        <div sec:authorize="!hasRole('ROLE_PECS_MAINTAIN_PRICE')">
                            <span th:unless="${journey.fromSiteName == null || journey.toSiteName == null}" th:inline="text">Awaiting price</span>
                        </div>
                        <div sec:authorize="hasRole('ROLE_PECS_MAINTAIN_PRICE')">
                            <span th:unless="${journey.fromSiteName == null || journey.toSiteName == null}">
                                <a th:if="${canAddPrice}" th:href="@{'/add-price/' + ${journey.fromNomisAgencyId} + '-' + ${journey.toNomisAgencyId}}"
                                   class="ma0 govuk-link">Add price</a>
                            </span>
                          <span th:unless="${canAddPrice}" th:inline="text">Not priced</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

</div>

</body>

</html>