<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
    <title>Calculate Journey Variable Payments - GOV.UK</title>
</head>

<body>

<div class="govuk-width-container" layout:fragment="content">

    <div class="mv4">
        <div th:if="${form.operation == 'create'}">
            <h1 class="govuk-heading-xl mv2" th:inline="text">Map location</h1>
            <p class="govuk-heading-s govuk-body govuk-!-font-weight-regular">Please add a Schedule 34 location name for this NOMIS agency ID.</p>
        </div>
        <div th:if="${form.operation == 'update'}">
            <h1 class="govuk-heading-xl mv2" th:inline="text">Update location</h1>
            <p class="govuk-heading-s govuk-body govuk-!-font-weight-regular">Update Schedule 34 location.</p>
        </div>
    </div>

    <form th:action="@{/map-location}" th:object="${form}" method="post">
        <div class="govuk-form-group" th:classappend="${#fields.hasErrors('*')} ? 'govuk-form-group--error'">
            <ol class="list pl0">
                <li class="mv3">
                    <p class="govuk-label govuk-body govuk-!-font-weight-bold">Pick up location</p>
                    <p th:text="*{agencyId}" class="govuk-body ma0"></p>
                    <input type="hidden" th:field="*{agencyId}" class="dn"/>
                    <input type="hidden" th:field="*{operation}" class="dn"/>
                </li>
                <li class="mv3">
                    <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="location-name">Maps to Schedule
                        34 location</label>
                    <p th:if="${#fields.hasErrors('*')}" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> <span th:errors="*"></span>
                    </p>
                    <input class="govuk-input govuk-input--width-20" id="location-name" name="location-name" type="text"
                           th:field="*{locationName}"
                           th:classappend="${#fields.hasErrors('locationName')} ? 'govuk-input--error'">
                </li>
                <li class="mv3">
                    <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="location-type-id">Add location
                        type</label>
                    <select name="location-type" id="location-type-id" th:field="*{locationType}" class="govuk-select">
                        <option value="AP">Airport</option>
                        <option value="CC">Crown Court</option>
                        <option value="CM">Combined Court</option>
                        <option value="CO">County Court</option>
                        <option value="HP">Hospital</option>
                        <option value="IM">Immigration</option>
                        <option value="MC">Mag Court</option>
                        <option value="O">Other</option>
                        <option value="PR">Prison</option>
                        <option value="PS">Police</option>
                        <option value="SCH">SCH</option>
                        <option value="STC">STC</option>
                    </select>
                </li>
            </ol>
        </div>
        <div class="flex items-center">
            <button class="govuk-button mv3 mr3" data-module="govuk-button">
                Confirm and save
            </button>
            <a href="/journeys" class="govuk-link" th:if="${form.operation == 'create'}">Cancel</a>
            <a th:href="${cancelLink}" class="govuk-link" th:if="${form.operation == 'update'}">Cancel</a>
        </div>
    </form>
</div>
</body>

</html>