<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
    <title>Calculate Journey Variable Payments - GOV.UK</title>
</head>

<body>

<div class="govuk-width-container" layout:fragment="content" th:inline="text">

    <div class="govuk-breadcrumbs ">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/dashboard" th:inline="text">[[${#temporals.monthName(startOfMonthDate)}]]
                    [[${#temporals.format(startOfMonthDate, 'yyyy')}]] move summary</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <span class="govuk-breadcrumbs__link" th:inline="text">[[${moveType}]] moves</span>
            </li>
        </ol>
    </div>

    <div class="mv4">
        <h1 class="govuk-heading-xl ma0" th:inline="text">[[${moveType}]]</h1>
    </div>

    <div th:replace="fragments/move-summary.html :: summary"></div>

    <section class="mt3">

        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" aria-sort="none" width="80">Move ID</th>
                <th class="govuk-table__header" scope="col" aria-sort="none">Pick up location</th>
                <th class="govuk-table__header" scope="col" aria-sort="none">Location type</th>
                <th class="govuk-table__header" scope="col" aria-sort="none">Drop off location</th>
                <th class="govuk-table__header" scope="col" aria-sort="none" width="60">Location type</th>
                <th class="govuk-table__header" scope="col" aria-sort="none" width="190">Pick up date</th>
                <th class="govuk-table__header" scope="col" aria-sort="none" width="80">NOMIS Person ID</th>
            </tr>
            </thead>
            <thbody class="govuk-table__body">
                <tr class="govuk-table__row" th:each="move: ${moves}">
                    <td class="govuk-table__cell" scope="row"><a class="govuk-link"
                                                                 th:href="@{/moves/{id}(id=${move.moveId})}"
                                                                 th:inline="text">[[${move.reference}]]</a></td>
                    <td class="govuk-table__cell" scope="row" th:inline="text">[[${move.fromSiteName ?:
                        move.fromNomisAgencyId}]]
                    </td>
                    <td class="govuk-table__cell" scope="row" th:inline="text">[[${move.fromLocationType ?: "Not
                        mapped"}]]
                    </td>
                    <td class="govuk-table__cell" scope="row" th:inline="text">[[${move.toSiteName ?:
                        move.toNomisAgencyId ?: "Not
                        mapped"}]]
                    </td>
                    <td class="govuk-table__cell" scope="row" th:inline="text">[[${move.toLocationType ?: "Not
                        mapped"}]]
                    </td>
                    <td class="govuk-table__cell" scope="row"
                        th:text="${move.pickUpDateTime != null} ? ${#temporals.format(move.pickUpDateTime, 'dd MMM yyyy, HH:mm')} : 'Not known'">
                    </td>
                    <td class="govuk-table__cell" scope="row" th:inline="text">[[${move.person?.prisonNumber}?: 'Not
                        set']]
                    </td>
                </tr>
            </thbody>
        </table>

    </section>

</div>

</body>

</html>