<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
  <title>Calculate Journey Variable Payments - GOV.UK</title>
  <link rel="stylesheet" href="accessible-autocomplete.min.css">
</head>

<body>
<div class="govuk-width-container" layout:fragment="content">
  <div th:replace="fragments/flash-messages.html :: flash-messages(dismissFallback='/')"></div>

  <div class="mv4">
    <h1 class="govuk-heading-xl mv2" th:inline="text">
      Manage Locations
    </h1>
  </div>

  <form th:action="@{/search-locations}" th:object="${form}" method="post">

    <div class="govuk-error-summary mv3" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
         data-module="govuk-error-summary" th:if="${#fields.hasErrors('location')}">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#location" th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></a>
          </li>
        </ul>
      </div>
    </div>

    <h2 class="govuk-heading-l mv2 pt3">Find Location</h2>
    <p class="govuk-heading-s govuk-body govuk-!-font-weight-regular">
      Enter Schedule 34 name to find a location
    </p>

    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('*')} ? 'govuk-form-group--error'">
      <p th:if="${#fields.hasErrors('*')}" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span>Please enter a schedule 34 location
      </p>
      <ol class="pl0 list">
        <li class="mv3">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="location">Schedule 34 location</label>
            <div id="location-container" class="govuk-label govuk-input--width-20"></div>
          </div>
        </li>
      </ol>
    </div>

    <div class="flex items-center">
      <button class="govuk-button mv3 mr3" data-module="govuk-button">
        Find Location
      </button>
      <a href="/dashboard" class="govuk-link">Cancel</a>
    </div>
  </form>

  <script src="/accessible-autocomplete.min.js"></script>
  <script>
    let locationData = {}
    if (localStorage.locationData)
      locationData = JSON.parse(localStorage.locationData)

    const fromContainerEl = document.querySelector('#location-container')

    accessibleAutocomplete({
      element: fromContainerEl,
      id: 'location',
      name: 'location',
      source: Object.values(locationData.locations || {}),
      minLength: 3
    })

    let fromAutocompleteEl = document.querySelector('#location')

    const request = new XMLHttpRequest()
    request.addEventListener('load', function() {
      const data = JSON.parse(this.responseText)

      // server sent new location data because ours is outdated
      if (data.locations) {
        locationData = data
        localStorage.locationData = JSON.stringify(data)

        const fromValue = fromAutocompleteEl.value
        fromContainerEl.innerHTML = ''
        accessibleAutocomplete({
          element: fromContainerEl,
          id: 'location',
          name: 'location',
          source: Object.values(locationData.locations),
          defaultValue: fromValue,
          minLength: 3
        })

        fromAutocompleteEl = document.querySelector('#location')
      }
    })
    request.open('GET', 'locations?version=' + (locationData.version || -1))
    request.send()

  </script>
</div>
</body>
</html>
