<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
  <title>Calculate Journey Variable Payments - GOV.UK</title>
  <link rel="stylesheet" href="accessible-autocomplete.min.css">
</head>

<body>
<div class="govuk-width-container" layout:fragment="content">
  <div class="mv4">
    <h1 class="govuk-heading-xl mv2" th:inline="text">
      Manage Journey Price Catalogue [[${contractualYearStart}]] to [[${contractualYearEnd}]]
    </h1>
  </div>

  <h2 class="govuk-heading-l mv2 pt3">Find Journeys</h2>
  <p class="govuk-heading-s govuk-body govuk-!-font-weight-regular">
    Enter 1 location to find all journeys or 2 locations for a specific journey in the journey price catalogue.
  </p>

  <form th:action="@{/search-journeys}" th:object="${form}" method="post">

    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('*')} ? 'govuk-form-group--error'">
      <p th:if="${#fields.hasErrors('*')}" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Please enter either a pick up or drop off location
      </p>
      <ol class="pl0 list">
        <li class="mv3">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="from">Pick up location</label>
            <div id="from-container" class="govuk-label govuk-input--width-20"></div>
          </div>
        </li>
        <li class="mv3">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="to">Drop off location</label>
            <div id="to-container" class="govuk-label govuk-input--width-20"></div>
          </div>
        </li>
      </ol>
    </div>

    <div class="flex items-center">
      <button id="find-journeys" class="govuk-button mv3 mr3" data-module="govuk-button">
        Find Journeys
      </button>
      <a href="/manage-journey-price-catalogue" class="govuk-link">Cancel</a>
    </div>
  </form>

  <script src="/accessible-autocomplete.min.js"></script>
  <script>
        let locationData = {}
        if (localStorage.locationData)
          locationData = JSON.parse(localStorage.locationData)

        const fromContainerEl = document.querySelector('#from-container')
        const toContainerEl = document.querySelector('#to-container')

        accessibleAutocomplete({
          element: fromContainerEl,
          id: 'from',
          name: 'from',
          source: Object.values(locationData.locations || {}),
          minLength: 3
        })
        accessibleAutocomplete({
          element: toContainerEl,
          id: 'to',
          name: 'to',
          source: Object.values(locationData.locations || {}),
          minLength: 3
        })

        let fromAutocompleteEl = document.querySelector('#from')
        let toAutocompleteEl = document.querySelector('#to')

        const request = new XMLHttpRequest()
        request.addEventListener('load', function() {
          const data = JSON.parse(this.responseText)

          // server sent new location data because ours is outdated
          if (data.locations) {
            locationData = data
            localStorage.locationData = JSON.stringify(data)

            const fromValue = fromAutocompleteEl.value
            fromContainerEl.innerHTML = ''
            accessibleAutocomplete({
              element: fromContainerEl,
              id: 'from',
              name: 'from',
              source: Object.values(locationData.locations),
              defaultValue: fromValue,
              minLength: 3
            })

            const toValue = toAutocompleteEl.value
            toContainerEl.innerHTML = ''
            accessibleAutocomplete({
              element: toContainerEl,
              id: 'to',
              name: 'to',
              source: Object.values(locationData.locations),
              defaultValue: toValue,
              minLength: 3
            })

            fromAutocompleteEl = document.querySelector('#from')
            toAutocompleteEl = document.querySelector('#to')
          }
        })
        request.open('GET', 'reference/locations?version=' + (locationData.version || -1))
        request.send()

  </script>
</div>
</body>
</html>
