<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/empty}">

<head>
    <title>Calculate Journey Variable Payments - GOV.UK</title>
</head>

<body>

<div class="govuk-width-container" layout:fragment="content">

    <h1 class="govuk-heading-xl mv2 pt2" th:inline="text">You are now signed out.</h1>

    <p class="govuk-body mb5 pb5">
        <a href="/" class="govuk-link">Sign back into this service</a>
    </p>

</div>

</body>

</html>