<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
  <title>Calculate Journey Variable Payments - GOV.UK</title>
</head>

<body>

<div class="govuk-width-container" layout:fragment="content">
  <div th:replace="fragments/flash-messages.html :: flash-messages(dismissFallback='/manage-journey-price-catalogue')"></div>

  <div th:insert="fragments/contractual-year.html :: contractualYear"></div>

  <a th:href="${cancelLink}" class="govuk-back-link">Back</a>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#update-price">
          Update price
        </a>
      </li>
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#price-exceptions">
          Price exceptions
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#price-history">
          Price history
        </a>
      </li>
    </ul>
    <div class="govuk-tabs__panel" id="update-price">
      <form th:action="@{/update-price}" th:object="${form}" method="post">
        <div class="govuk-error-summary mv3" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
             data-module="govuk-error-summary" th:if="${#fields.hasErrors('price')}">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#price">Enter a valid price in the correct
                  format</a>
              </li>
            </ul>
          </div>
        </div>

        <div>
          <h2 class="govuk-heading-l" th:inline="text">Update price</h2>
          <p class="govuk-heading-s govuk-body govuk-!-font-weight-regular">Update price agreed with supplier for this
            journey.</p>
        </div>

        <input type="hidden" th:field="*{moveId}" class="dn"/>
        <input type="hidden" th:field="*{from}" class="dn"/>
        <input type="hidden" th:field="*{to}" class="dn"/>
        <div class="govuk-form-group" th:classappend="${#fields.hasErrors('price')} ? 'govuk-form-group--error'">
          <ol class="list pl0">
            <li class="mv1">
              <p class="govuk-label govuk-body govuk-!-font-weight-bold">Journey</p>
              <p th:inline="text" class="govuk-body">[[*{from}]] to [[*{to}]]</p>
            </li>
            <li class="mv1">
              <label class="govuk-label govuk-body govuk-!-font-weight-bold"
                     for="price">
                Add price
              </label>
              <div id="price-hint" class="govuk-hint">
                Example £100.00
              </div>
              <p th:if="${#fields.hasErrors('price')}" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter a valid price in the correct
                format
              </p>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="price" name="price" type="text"
                       aria-describedby="price-hint" th:field="*{price}"
                       th:classappend="${#fields.hasErrors('price')} ? 'govuk-input--error'">
              </div>
            </li>
            <li class="mv3" th:if="${existingExceptions.size > 0}">
              <label class="govuk-label govuk-body govuk-!-font-weight-bold">Existing price exceptions</label>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Month</th>
                  <th scope="col" class="govuk-table__header">Year</th>
                  <th scope="col" class="govuk-table__header">Price</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row" th:each="exception: ${existingExceptions}">
                  <td class="govuk-table__cell" scope="row" th:inline="text" th:text="${exception.month}"></td>
                  <td class="govuk-table__cell" scope="row" th:inline="text" th:text="${exception.year}"></td>
                  <td class="govuk-table__cell" scope="row" th:inline="text" th:text="${'£' + exception.amount}"></td>
                </tr>
                </tbody>
              </table>
            </li>
          </ol>
        </div>
        <div class="govuk-warning-text mv3">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            <div th:each="warning: ${warnings}" >
              <span th:inline="text" th:text="${warning.text}"></span>
              <p></p>
            </div>
          </strong>
        </div>
        <div class="flex items-center">
          <button id="confirm-save-price" class="govuk-button mv3 mr3" data-module="govuk-button">
            Confirm and save
          </button>
          <a th:href="${cancelLink}" class="govuk-link">Cancel</a>
        </div>
      </form>
    </div>

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="price-exceptions">
      <div>
        <h2 class="govuk-heading-l">Price exceptions</h2>
      </div>
      <ol class="list pl0">
        <li class="mv3" th:if="${existingExceptions.size > 0}">
          <label class="govuk-label govuk-body govuk-!-font-weight-bold">Existing price exceptions</label>
          <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Month</th>
              <th scope="col" class="govuk-table__header">Year</th>
              <th scope="col" class="govuk-table__header">Price</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row" th:each="exception: ${existingExceptions}">
              <td class="govuk-table__cell vam" scope="row" th:inline="text" th:text="${exception.month}"></td>
              <td class="govuk-table__cell vam" scope="row" th:inline="text" th:text="${exception.year}"></td>
              <td class="govuk-table__cell vam" scope="row" th:inline="text" th:text="${'£' + exception.amount}"></td>
              <td class="govuk-table__cell" scope="row" th:inline="text">
                <form th:action="@{/remove-price-exception}" method="post">
                  <input type="hidden" th:name="moveId" th:value="${moveId}" class="dn"/>
                  <input type="hidden" th:name="month" th:value="${exception.value}" class="dn"/>
                  <button th:id="'remove-exception-' + ${exception.value}" class="govuk-button govuk-button--secondary mv0 mr0" data-module="govuk-button">Remove</button>
                </form>
              </td>
            </tr>
            </tbody>
          </table>
        </li>
      </ol>
      <form th:action="@{/add-price-exception}" th:object="${exceptionsForm}" method="post">
        <div class="govuk-error-summary mv3" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
             data-module="govuk-error-summary" th:if="${flashError == 'add-price-exception-error'}">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#price">Enter a valid price in the correct
                  format</a>
              </li>
            </ul>
          </div>
        </div>

        <input type="hidden" th:field="*{moveId}" class="dn"/>
        <ol class="list pl0">
          <li class="mv1">
            <label class="govuk-label govuk-body govuk-!-font-weight-bold">Add price exception</label>
            <p class="govuk-heading-s govuk-body govuk-!-font-weight-regular">Add an agreed price exception more or less to that of the yearly amount.</p>
            <label class="govuk-label govuk-body govuk-!-font-weight-bold"
                   for="exception-month">
              Month
            </label>
            <div class="govuk-form-group">
              <select class="govuk-select" id="exception-month" th:field="*{exceptionMonth}">
                <option
                  th:each="exception : *{months}"
                  th:disabled="${exception.alreadySelected}"
                  th:value="${exception.value}"
                  th:text="${exception.month} + ' ' + ${exception.year}">
                </option>
              </select>
            </div>
          </li>
          <li class="mv1">
            <label class="govuk-label govuk-body govuk-!-font-weight-bold"
                   for="price">
              Price
            </label>
            <div id="exception-price-hint" class="govuk-hint">
              Example £100.00
            </div>
            <p  th:if="${flashError == 'add-price-exception-error'}" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter a valid price in the correct
              format
            </p>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-5" id="exception-price" name="price" type="text"
                     aria-describedby="price-hint" th:field="*{exceptionPrice}"
                     th:classappend="${flashError == 'add-price-exception-error'} ? 'govuk-input--error'">
            </div>
          </li>
        </ol>
        <div class="flex items-center">
          <button id="confirm-save-exception" class="govuk-button mv3 mr3" data-module="govuk-button">
            Add exception
          </button>
          <a th:href="${cancelLink}" class="govuk-link">Cancel</a>
        </div>
      </form>
    </div>

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="price-history">
      <h2 class="govuk-heading-l">Price history</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Time</th>
          <th scope="col" class="govuk-table__header">Action</th>
          <th scope="col" class="govuk-table__header">By</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row" th:each="event: ${history}">
          <td class="govuk-table__cell" scope="row" th:inline="text">[[${#temporals.format(event.datetime, 'dd MMMM yyyy')}]]</td>
          <td class="govuk-table__cell" scope="row" th:inline="text">[[${#temporals.format(event.datetime, 'HH:mm a')}]]</td>
          <td class="govuk-table__cell" scope="row" th:inline="text">[[${event.action}]]</td>
          <td class="govuk-table__cell" scope="row" th:inline="text">[[${event.by}]]</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>

</html>