name: Run end-to-end tests

on:
  workflow_call:
    inputs:
      postgres-tag:
        type: string
        required: true
      postgres-db:
        type: string
        default: 'postgres'
        required: false
      postgres-password:
        type: string
        default: 'dev'
        required: false
      postgres-username:
        type: string
        default: 'root'
        required: true

env:
  total-runners: 2

jobs:
  gradle_build:
    name: Gradle Build
    runs-on: ubuntu-latest
    env:
      _JAVA_OPTIONS: "-Xmx4g"
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Gradle Build
        run: ./gradlew assemble testClasses --build-cache

  integration_playwright_tests:
    runs-on: ubuntu-latest
    name: "Run test suite in parallel (${{ matrix.shard }})"
    needs: gradle_build
    strategy:
      matrix:
        shard: [ 1 ]

    services:
      postgres:
        image: postgres:${{ inputs.postgres-tag }}
        env:
          POSTGRES_USER: ${{ inputs.postgres-username }}
          POSTGRES_PASSWORD: ${{ inputs.postgres-password }}
          POSTGRES_DB: ${{ inputs.postgres-db}}
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Gradle Build
        run: ./gradlew assemble testClasses --build-cache

      - name: Determine tests splitting
        uses: chaosaffe/split-tests@v1
        id: split-tests
        with:
          glob: src/test/kotlin/**/integrationplaywright/**/*Test.kt
          split-index: ${{ strategy.job-index }}
          split-total: ${{ strategy.job-total }}

      - name: Run integration tests
        run: |
          # Format the arguments to "./gradlew integrationTest"
          SPECS_LIST=$(echo  ${{ steps.split-tests.outputs.test-suite }} | sed 's/src\/test\/kotlin\///g;s/\//./g;s/\.kt/ /g' | awk '{for (i=1; i<=NF; i++) print "--tests",$i}')
          echo "Prepared arguments for Gradle: $SPECS_LIST"
          ./gradlew testPlayWrightIntegration $SPECS_LIST    

      - name: Upload raw test reports on failure
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: integration-test-results-${{ matrix.shard }}-of-${{ strategy.job-total }}
          path: |
            build/test-results
            build/reports/tests

      - name: Publish Test Report
        uses: ctrf-io/github-test-reporter@27b102a97ccdba9f56029c7771726ccc1417f29a
        with:
          report-path: './build/test-results/testPlayWrightIntegration/*.xml'
          use-suite-name: true
          integrations-config: |
            {
              "junit-to-ctrf": {
                "enabled": true,
                "action": "convert",
                "options": {
                  "output": "./ctrf-reports/ctrf-report.json",
                  "toolname": "junit-to-ctrf",
                  "useSuiteName": true,
                  "env": {
                    "appName": "approved-premises-api"
                  }
                }
              }
            }
        if: always()